@font-face { /*Light*/
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Light.woff2), 
    url(../fonts/Gilroy-Light.woff), 
    url(../fonts/Gilroy-Light.otf);
    font-weight: 300;
}

@font-face { /*Fat*/
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-ExtraBold.woff2),
    url(../fonts/Gilroy-ExtraBold.woff),
    url(../fonts/Gilroy-ExtraBold.otf);
    font-weight: 900;
}

body{
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 300;
    color: var(--black);
}
.container{
    max-width: var(--container-width);
    width: 100%;
    padding: 0 30px; /*вычитается из ширины переменной*/
    margin: 0 auto;
    }

.subtitle{
    font-size: 34px;
    line-height: 42px;
    color: var(--black);
}